@model IEnumerable<BirdStore.Models.ShoppingCart>

<h2>Shopping Cart</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Bird</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BirdId</td>
                    
                    <td>
                        <a asp-action="RemoveFromCart" asp-route-cartItemId="@item.Id">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Your shopping cart is empty.</p>
}

<a asp-action="Checkout">Proceed to Checkout</a>
